include ./head.pug
    include ./header.pug
    main.main_container
        div.title
            h1 Adiciona un nuevo producto
        form.create__form(action="/products/create" method="POST")
            input.create__input(name="name",type="text" placeholder="Inserta nombre de producto")
            input.create__input(name="price",type="text" placeholder="Precio del Producto")
            input.create__input(name="description",type="text" placeholder="breve descripción")
            input.create__input(name="image",type="text" placeholder="url de l imagen")
            button.create__button(type="submit") Add new product