div.menu
    div.menu-1
        h1 MINI-APP
    nav.nav 
        ul 
            li 
                a(href=`http://localhost:3000/products`) All Products 
            li
                 a(href=`http://localhost:3000/products/create`) Add Pruducts
            