include ./head.pug
    include ./header.pug
    include ./menu.pug
        
    main.main_container 
        div.title
            h1 All Products
        each p in products
            div.product__container
                p.product__title= `${p.name}`
                img.product__img(src=`${p.image}`)
                div.products_det 
                    p.products__info= `${p.price} €` 
                    a.btn(href=`http://localhost:3000/products/${p.name}`) view more
