include ./head.pug
    include ./header.pug
    main.main_container
        div.menu 
            div.title
                h1 All Products
            a.btn(href=`http://localhost:3000/products`) Add new Product
            <input type="search" id="gsearch" name="gsearch" placeholder="Search product">
            
        each p in products
            div.product__container
                p.product__title= `${p.name}`
                img.product__img(src=`${p.image}`)
                div.products_det 
                    p.products__info= `${p.price} €` 
                    a.btn(href=`http://localhost:3000/products/${p.name}`) view more
